# Dependency directories
node_modules/
jspm_packages/
web_modules/

# Build and distribution directories
dist/
out/
build/
bin/
obj/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
pnpm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for instrumented code coverage downloads
lib-cov
coverage
.nyc_output

# Grunt intermediate storage (https://gruntjs.com/)
.grunt

# Bower dependency directory (https://bower.io/)
bower_components

# node-gyp directory (https://github.com/nodejs/node-gyp)
.node-gyp

# Markups (e.g. asciidoc) template compiler cache
.asciidoctor

# Dependency directories for webpack-dev-server
.web-dev-server

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Microbundle cache
.microbundle

# Yalc storage
.yalc

# Yarn Integrity file
.yarn-integrity

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.env.dev
.env.prod

# parcel-cache
.cache
.parcel-cache

# Next.js build images
.next
out

# Nuxt.js build images
.nuxt
dist

# Gatsby files
.cache/
public/

# vuepress build output
.vuepress/dist

# Serverless Webpack directories
.webpack/

# Temp directories
tmp/
temp/

# IDEs and editors
.idea/
.project
.classpath
.cproject
.settings/
*.launch
*.sublime-workspace
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

# Operating System Files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# Log files
*.log
